.home-container{
    display: grid;
}

.home-links{

    border: 1px solid rgb(0, 119, 255);
    border-radius: 25px;
    margin: 10px;
    font-size: 30px;
    padding-left: 15px;
    text-align: center;
    width: 250px;
    transition: all 500ms linear;
    
    
    
}

.home-links:hover{ 
    background-color: rgb(75, 149, 233);
    color: white;
    -webkit-box-shadow:0px 0px 70px 6px rgba(46,119,255,0.9);
    -moz-box-shadow: 0px 0px 70px 6px rgba(46,119,255,0.9);
    box-shadow: 0px 0px 70px 6px rgba(46,119,255,0.9);
}
