.transaction-container{
    margin-top: 15px;
    display: grid;
    border-radius: 10px;
    justify-items: center;
    width: 400px;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    h2{
        margin: 30px;
        margin-top: 0;
        margin-bottom: 10px;
    }
}
.id-and-date{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.type-amount{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.static-keys{
    height: 30px;
    font-size: 25px;
    align-self: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgb(255, 255, 255) 92%, rgb(126, 197, 255) 98%);
}

.transaction-values{
    margin: 0;
    align-self: center;
    font-size: 20px;
}
.description{
    height: 70px;
}
.description-title{
    margin: 20px;
}
.amount{
    font-size: 35px;
}
.icons{
    width: 90%;
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; 
    img{
        cursor: pointer;
    }
}
.closeicon{
    margin: 0;
    margin-top: 0px;
    justify-self: end;
}
.closeicon:hover{
    scale: 1.3;
}
.edit:hover{
    scale: 1.3;
}
.delete:hover{
    scale: 1.3;
}