@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Playwrite+IT+Moderna:wght@100..400&display=swap');


html, body{
    font-family: "Dosis", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.main_container{
    display: grid;
    justify-items: center;
    width: 100%;
}